# ignore virtual environment
.venv
._venv
.vscode

# ignore directories
data/
gph/
models/
Mallet/
Mallet-202108/
report/
sample_data
textos_BSC
__pycache__

# ignore other files
*.css
*.html
_test*

# environment files
.env
*.DS_Store
aux_scripts/.ipynb_checkpoints
aux_scripts/eval_graphs_deliverables/.ipynb_checkpoints
tmp
app.log
test
config/options_carlos.yaml
preprocess_Carlos.py
train_tm_Carlos.py
train_tm_Carlos_all.py
lib
cache
aux_scripts/_old
train_tm2.py
topic_models_test.py
retrain_cpv_models.py