# ignore virtual environment
.venv
._venv
.vscode

# ignore directories
data/
gph/
models/
Mallet/
report/
sample_data
__pycache__

# ignore other files
*.css
*.html
_test*

# environment files
.env
*.DS_Store
aux_scripts/.ipynb_checkpoints
tmp
app.log
test
